<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt> 
            Average Review Score:
          </dt>
          <dd>
            <tr>
              <td>
                <% if @reviews_rating != nil %> 
                <%= @reviews_rating %> of 5
                <% else %>
                No ratings
                <% end %>
              </td>
            </tr>
          </dd>
          <dt> 
            Reviews:
          </dt>
          <dd>
            <tr>
              <td>
              <tbody>
                <% Review.where(product_id: @product.id).order("created_at DESC").each do |review| %>
                  <%= render 'review', review: review, reviewer: User.find( review[:user_id]) %>
                <% end %>
              </tbody>
              </td>
            </tr>
          </dd>
          <%if current_user %>
            <dt>
              Submit A Review
            </dt>
            <dd>
                  <%= form_for ([@product, @product.reviews.build])  do |f| %>
                    <%= f.text_area :description %><br />
                    Rating: <%= f.select :rating, options_for_select([["Select One", ""], "5", "4", "3", "2", "1"]), :class => 'genForm_dropBox'  %><br />
                  <%= f.submit %>
                  <% end %>
            </dd>
          <%end%>
        </dl>
      </div>
    </div>

  </article>

</section>
